<div class="reset-container d-flex justify-content-center align-items-center min-vh-100 bg-light p-3">
  <div class="reset-card bg-white p-4 rounded shadow w-100" style="max-width: 450px;">
    <h2 class="text-center mb-4 text-dark">Reset Password</h2>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

      <!-- New Password -->
      <div class="form-group mb-3">
        <label for="newPassword" class="form-label fw-medium text-secondary">New Password</label>
        <p-password id="newPassword" formControlName="newPassword" [feedback]="false" toggleMask="true"
          placeholder="Enter new password" inputStyleClass="form-control bg-white"
          [ngClass]="{'ng-invalid ng-dirty': resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched}"></p-password>
        <div class="text-danger mt-1" *ngIf="resetPasswordForm.get('newPassword')?.touched">
          <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">Password is required.</div>
          <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']">Min 6 characters.</div>
          <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['maxlength']">Max 100 characters.</div>
          <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']">Must include uppercase, lowercase,
            number, special character.</div>
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="form-group mb-3">
        <label for="confirmPassword" class="form-label fw-medium text-secondary">Confirm Password</label>
        <p-password id="confirmPassword" formControlName="confirmPassword" [feedback]="false" toggleMask="true"
          placeholder="Confirm new password" inputStyleClass="form-control bg-white"
          [ngClass]="{'ng-invalid ng-dirty': resetPasswordForm.hasError('mismatch') && resetPasswordForm.get('confirmPassword')?.touched}"></p-password>
        <div class="text-danger mt-1" *ngIf="resetPasswordForm.get('confirmPassword')?.touched">
          <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">Password is required.</div>
          <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['minlength']">Min 6 characters.</div>
          <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['maxlength']">Max 100 characters.</div>
          <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['pattern']">Must include uppercase, lowercase,
            number, special character.</div>
        </div>
      </div>

      <!-- Error Message -->
      <p-message *ngIf="errorMessage" severity="error" [text]="errorMessage" class="mb-3 "></p-message>

      <!-- Submit -->
      <button pButton type="submit" label="{{ isSubmitting ? 'Submitting...' : 'Reset Password' }}"
        [disabled]="resetPasswordForm.invalid || isSubmitting" class="btn btn-primary w-100 mt-2"></button>
    </form>

    <!-- Footer -->
    <div class="form-footer mt-4 text-center small">
      <p>Remember your password? <a routerLink="/auth/login" class="text-primary  text-decoration-none">Back to
          Login</a></p>
    </div>
  </div>
</div>