
<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }"
     (mouseenter)="expandSidebar()" (mouseleave)="collapseSidebar()">
  <div class="logo-container">
    <div class="logo">
    <img src="https://sdmntprsouthcentralus.oaiusercontent.com/files/00000000-4c7c-61f7-acad-57e251b06318/raw?se=2025-06-03T12%3A25%3A08Z&sp=r&sv=2024-08-04&sr=b&scid=65e62da9-69e4-5cbd-940b-247dbec58683&skoid=30ec2761-8f41-44db-b282-7a0f8809659b&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-06-03T00%3A09%3A04Z&ske=2025-06-04T00%3A09%3A04Z&sks=b&skv=2024-08-04&sig=WP3YiSC2rou8RCAP5YDrHQgBP46%2BdAs%2BzRdabTxqCPY%3D" class="logo-img"/>
      <span class="logo-icon">Admin</span>
      <span class="logo-text" *ngIf="isExpanded">Panel</span>
    </div>
    <div class="toggle-button" *ngIf="isExpanded">
      <i class="chevron-icon">❯</i>
    </div>
  </div>

  <div class="menu-items">
    <div class="menu-item" *ngFor="let item of menuItems"
         [ngClass]="{ 'active': activeMenuItem === item.key }"
         (click)="setActive(item.key)">
      <i class="icon" [ngClass]="item.icon"></i>
      <span class="menu-text" *ngIf="isExpanded">{{ item.label }}</span>
    </div>
  </div>
</div>
